@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
    background-color: #0D0D0D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
    font-family: "Space Grotesk" !important;
    text-decoration: none;
}

*:focus-visible {
    outline: none !important;
}

*:focus-within {
    outline: none !important;
}

*:focus {
    outline: none !important;
}

body {
    margin: auto;
    width: 100%;
    padding: 20px;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #0d0d0d;
    border-radius: 100px;
    margin: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #303030;
    border-radius: 100px;
    border: 3px solid #0d0d0d;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #3d3d3d;
}